INSTALL_METHOD=remote
REMOTE_INSTALL_HOST=debug-plugin.dify.dev
REMOTE_INSTALL_PORT=5003
REMOTE_INSTALL_KEY=********-****-****-****-************
HPC_AI_API_KEY=
HPC_AI_BASE_URL=https://api.hpc-ai.com/inference/v1
